@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu:ital,wght@1,300&display=swap');
:root{--heading-font: Lobster;
    --paragraph-font: Ubuntu, Helvetica, sans-serif;
}
            
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }

  h2, h3, h4 {
    margin: 0;
  }

body{
    display: grid;
    font-family: var(--paragraph-font);
    background-color:#dee5f1;
    color:black;
    max-width: 960px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
}
#background {
    display: none;
    height: fit-content;
    background-color:#396E94;
    color:black;
    max-width: 960px;
    grid-column: 1/6;
    grid-row: 4/8;
    z-index: 1;
}
header{
    display: grid;
    padding: 1em;
    text-align: center;
    background-color: #519080;
    color:white;
    font-family:var(--heading-font);
    grid-template-columns: 150px auto;
}

#content {
    max-width: 960px;
    height: auto;
    margin: 0 auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo{
    padding-top: 5px;
    width: 100px;
}

div {
    display: grid;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    min-width: 120px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

nav a:hover{
    background-color: #F6BEB1;
    color:#519080;
    text-decoration: none;
    font-family:var(--paragh-font--);
}

#banner {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    margin-top: -100px;
}

#banner-box {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    z-index: -1;
}

#banner-img {
    width: 100%;
}
#banner-msg {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    margin-top: 100px;
}

#banner-msg h1 {
    line-height: 1.5em;
    text-align: center;
}

#banner-msg h4 {
    line-height: 1.5em;
    text-align: center;
    color: white;
}

.home-title {
    font-family: var(--paragraph-font);
    font-size: 2em;
    margin-top: 10px;
    color: whitesmoke;
}

p {
    font-family: var(--paragraph-font);
    color: black;
    padding: 1em;
  }

main section {
    text-align: center;
}

.cal-box {
    text-align: center;
}

.subscribe{
    padding: 15px 30px;
    background-color:whitesmoke;
    color:blue;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}

.subscribe:hover {
    background-color:#d1aa83;
    color:black;
    text-decoration: none;
}

.lead_grid{
    display: grid;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.about-us{
    grid-column: 1 / -1;
    grid-row: auto;
    width: 960px;
}

.about-us h2 {
    grid-column: 1 / span 1;
    grid-row: auto;
}

.about-us p{
    grid-column: 1/-1;
    grid-row: auto;
    width: 960px;
    margin: 0;
}

.poetry-card, .theatre-card, .music-card, .paint-card {
    margin: 475px 0;
}

.card-img, .card1-img, .card2-img, .card3-img {
    border: 10px solid #d9c2a3;
}

.card-img{
    grid-column: 1 / span 1;
    grid-row: auto;
    width: 400px;

}

.card1-img{
    grid-column: 2 / span 1;
    grid-row: auto;
    width: 400px;
}

.card2-img{
    grid-column: 1/2;
    grid-row: auto;
    width: 400px;
}

.card3-img{
    grid-column: 2/3;
    grid-row: auto;
    width: 400px;
}

.poetry-card {
    grid-column: 1 / 2;
    grid-row: auto;
    width: 400px;
}
.poetry-card h2 {
    grid-column: 1 / span 1;
    grid-row: auto;
}
.poetry-card p {
    grid-column: 1 / span 1;
    grid-row: auto;
}
.theatre-card {
    grid-column: 2 / 3;
    grid-row: auto;
    width: 400px;
}
.theatre-card h2 {
    grid-column: 2 / span 1;
    grid-row: auto;
}
.theatre-card p {
    grid-column: 2 / span 1;
    width: 400px;
}
.music-card {
    grid-column: 1 / 2;
    grid-row: auto;
    width: 400px;
}
.music-card h2 {
    grid-column: 1 / span 1;
    grid-row: auto;
}
.music-card p {
    grid-column: 1 / span 1;
    grid-row: auto;
    width: 400px;
}
.paint-card{
    grid-column: 2 / 3;
    grid-row: auto;
    width: 400px;
}
.paint-card h2 {
    grid-column: 2 / span 1;
    grid-row: auto;
}
.paint-card p {
    grid-column: 2 / span 1;
    grid-row: auto;
    width: 400px;
}

.gallery-grid{
    display: grid;
}

.gallery-grid p {
    width: 290px;
}

.paint1-img, .paint2-img, .paint3-img, .sculp1-img, .sculp2-img, .sculp3-img, .book1-img, .book2-img, .book3-img, .event1-img, .event2-img, .event3-img {
    width: 290px;
}

.painting {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 1fr;
}

.hp {
    grid-column: 1 / -1;
    grid-row: auto;
}

.painting div {
    width: 290px;
}

.paint1-img, .p1, .p2, .p3{
    grid-column: 1 / span 1;
    grid-row: auto;
}

.paint2-img, .p4, .p5, .p6 {
    grid-column: 2 / span 1;
    grid-row: auto;
}

.paint3-img, .p7, .p8, .p9 {
    grid-column: 3 / span 1;
    grid-row: auto;
}

.paint3-img{
    width: 240px;
}

.sculpture {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 1fr;
}

.sp {
    grid-column: 1 / -1;
    grid-row: auto;
}

.sculpture div {
    width: 260px;
}

.sculp1-img, .s1 {
    grid-column: 1 / span 1;
    grid-row: auto;
}

.sculp2-img, .s2 {
    grid-column: 2 / span 1;
    grid-row: auto;
}

.sculp3-img, .s3 {
    grid-column: 3 / span 1;
    grid-row: auto;
}

.books {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20% 1fr;
}

.bp {
    grid-column: 1 / -1;
    grid-row: auto;
}
.books div {
    width: 290px;
}

.book1-img, .b1, .b2, .b3{
    grid-column: 1 / span 1;
    grid-row: auto;
}

.book2-img, .b4 {
    grid-column: 2 / span 1;
    grid-row: auto;
}

.book3-img, .b5, .b6 {
    grid-column: 3 / span 1;
    grid-row: auto;
}
.events {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20% 1fr;
}

.ep{
    grid-column: 1 / -1;
    grid-row: auto;
}

.events div {
    width: 290px;
}

.event1-img, .e1, .e2 {
    grid-column: 1 / span 1;
    grid-row: auto;
}

.event2-img, .e3, .e4 {
    grid-column: 2 / span 1;
    grid-row: auto;
}

.event3-img, .e5, .e6 {
    grid-column: 3 / span 1;
    grid-row: auto;
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.mvent h2 {
    grid-column: 1 / span 0.2;
    grid-row: 1 / span 0.2 ;
}
.bok1-img {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1 ;
    width: 400px;
}
.bok1-img h3, .bok1-img p{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1 ;
    width: 400px;
}
.bok2-img {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1 ;
    width: 400px;
}
.bok2-img h3, .bok2-img p{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1 ;
    width: 400px;
}
.bok3-img {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1 ;
    width: 400px;
}
.bok3-img h3, .bok3-img p{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1 ;
    width: 400px;
}
.bok4-img {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1 ;
    width: 400px;
}
.bok4-img h3, .bok4-img p{
    grid-column: 1 /span 1;
    grid-row: 4 / span 1 ;
    width: 400px;
}
.bok5-img{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    width: 400px;
}
.bok5-img h3, .bok5-img p{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1 ;
    width: 400px;
}

.submission h2 {
    grid-column: 1 / span 0.2;
    grid-row: 4 / span 0.2 ;
}
.pant1-img {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1 ;
    width: 400px;
}
.pant1-img h3, .pant1-img p{
    grid-column: 1 / span 1;
    grid-row: 5 / span 1 ;
    width: 400px;
}
.pant2-img {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1 ;
    width: 400px;
}
.pant2-img h3, .pant2-img p{
    grid-column: 2 / span 1;
    grid-row: 5 / span 1 ;
    width: 400px;
}
.pant3-img {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1 ;
    width: 400px;
}
.pant3-img h3, .pant3-img p{
    grid-column: 3 / span 1;
    grid-row: 5 / span 1 ;
    width: 400px;
}

.pant4-img {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1 ;
    width: 400px;
}
.pant4-img h3, .pant4-img p{
    grid-column: 1 / span 1;
    grid-row: 7 / span 1 ;
    width: 400px;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
footer{
    display: grid;
    padding: 25px 50px;
    background-color:#6485cd;
    color:white;
    text-decoration: none;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img{
    text-align: justify;
    width: 50px;
    padding-top: 15px;
}
footer p {
    text-align: left;
    font-size: 1.2em;
    padding: 0%;
}
footer p a:hover {
    text-decoration: underline;
}
.social{
    display: inline-block;
    width: 60px;
}



@media screen and (max-width: 960px) {
    div, #banner, .lead-grid, .gallery-grid, .event-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #banner {
        margin-top: 0;
    }
    #banner-msg {
        margin-top: 0;
    }
    #bannner-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
    footer .social img {
        display:block;
        width: 50px;
        text-align: justify;
        padding-top: 15px;
    }
}